<div class="mx-auto min-h-screen px-4 py-6 bg-gradient-to-b from-green-100 via-white to-green-50 dark:from-gray-900 dark:via-gray-800 dark:to-gray-900 transition-colors duration-300">
<!-- Loading state -->
  <div *ngIf="loading" class="flex flex-col items-center justify-center mt-10">
    <div class="w-12 h-12 border-4 border-green-600 border-t-transparent rounded-full animate-spin
                dark:border-green-400 dark:border-t-transparent"></div>
    <p class="mt-4 text-gray-600 dark:text-gray-300 text-lg font-medium">جاري تحميل البيانات...</p>
  </div>

  <h1 *ngIf="!loading" class="text-2xl md:text-3xl font-bold text-center text-gray-800 dark:text-gray-200 mb-8">
    فهرس القرآن الكريم
  </h1>

  <div *ngIf="!loading" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <!-- Boucle sur les colonnes inversées desktop -->
    <div *ngFor="let colIndex of cols === 3 ? [2,1,0] : (cols === 2 ? [1,0] : [0])" class="flex flex-col gap-3 md:gap-6">
      <ng-container *ngFor="let row of groupedSurahs">
        <div
          *ngIf="row[colIndex]"
          class="p-4 bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-200 rounded-xl shadow-md hover:shadow-lg transition cursor-pointer border border-gray-200 dark:border-gray-700"
          [routerLink]="'/surah/' + row[colIndex].id"
        >
          <div class="flex justify-between items-center">
            <!-- Nombre de versets -->
            <p class="text-sm">
              <strong>عدد آياتها :</strong> {{ row[colIndex].verses_count }}
            </p>

            <!-- Nom + numéro -->
            <div class="flex items-center gap-2">
              <h2 class="text-lg font-bold">{{ row[colIndex].name_arabic }}</h2>
              <span class="text-sm bg-gray-100 dark:bg-gray-700 px-3 py-1 rounded-full text-gray-700 dark:text-gray-200">
                {{ row[colIndex].id }}
              </span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

</div>
