<div class="surah-list-container">
    <div>
        <h1>فهرس القرآن الكريم </h1>
    </div>
    <!-- Liste des sourates -->
    <ul class="surah-list">
        <li *ngFor="let surah of surahs"  >
            <div class="surah-item" routerLink="/surah/{{ surah.id }}">
                <div >
                    <p><strong>عدد آياتها :</strong> {{ surah.verses_count }}</p>
                   
                   </div>
                   <div class="name" >
                       <h2>   {{ surah.name_arabic }}. </h2>
                       <h2>{{ surah.id }}</h2>
                   </div>
            </div>
            
            <!-- Bouton pour afficher la sourate complète -->
            <!-- <button >Voir la sourate</button> -->
        </li>
    </ul>
    <!-- Navigation entre les reciters -->
   
</div>

