<div class=" mx-auto px-4 py-6 bg-gradient-to-b from-green-100 via-white to-green-50">
  <div class="flex justify-center mb-6">
    <button
      class="px-6 py-2 bg-gradient-to-r from-green-600 to-emerald-600 text-white rounded-lg shadow hover:opacity-90 transition"
      [routerLink]="'/'"
    >
      الرئيسية
    </button>
  </div>

  <h1 class="text-2xl md:text-3xl font-bold text-center text-gray-800 mb-8">
    فهرس القرآن الكريم
  </h1>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <!-- Boucle sur les colonnes inversées desktop -->
    <div *ngFor="let colIndex of cols === 3 ? [2,1,0] : (cols === 2 ? [1,0] : [0])" class="flex flex-col gap-3 md:gap-6">
      <ng-container *ngFor="let row of groupedSurahs">
       <div
  *ngIf="row[colIndex]"
  class="p-4 bg-white text-gray-800 rounded-xl shadow-md hover:shadow-lg transition cursor-pointer border border-gray-200"
  [routerLink]="'/surah/' + row[colIndex].id"
>
  <div class="flex justify-between items-center">
      <!-- Nombre de versets -->
    <p class="text-sm">
      <strong>عدد آياتها :</strong> {{ row[colIndex].verses_count }}
    </p>

    <!-- Nom + numéro -->
    <div class="flex items-center gap-2">
      <h2 class="text-lg font-bold">{{ row[colIndex].name_arabic }}</h2>
      <span class="text-sm bg-gray-100 px-3 py-1 rounded-full text-gray-700">
        {{ row[colIndex].id }}
      </span>
    </div>

  
  </div>
</div>

      </ng-container>
    </div>
  </div>


</div>
