<nav class="sticky  w-full top-0 left-0 z-50 bg-white/70 backdrop-blur-md rounded-2xl shadow-lg">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-20">

     

      <!-- القائمة Desktop -->
      <div class="hidden md:flex items-center space-x-8">

          <a routerLink="/" routerLinkActive="border-b-2 border-green-600" 
           [routerLinkActiveOptions]="{ exact: true }"
           class="flex items-center gap-2 text-green-700 hover:text-green-500 transition-all font-semibold">
          <i class="fas fa-clock text-lg"></i>
          مواقيت الصلاة
        </a>
        <a routerLink="/Sunah-books" routerLinkActive="border-b-2 border-green-600" 
           class="flex items-center gap-2 text-green-700 hover:text-green-500 transition-all font-semibold">
          <i class="fas fa-book text-lg"></i>
          كتب الحديث
        </a>

      

        <a routerLink="/chapters" routerLinkActive="border-b-2 border-green-600" 
           class="flex items-center gap-2 text-green-700 hover:text-green-500 transition-all font-semibold">
          <i class="fas fa-book-open text-lg"></i>
          القرآن الكريم
        </a>

      </div>

      <!-- زر الهامبورجر للموبايل -->
      <div class="md:hidden">
        <button (click)="isOpen = !isOpen" class="text-green-700 focus:outline-none">
          <i *ngIf="!isOpen" class="fas fa-bars text-2xl"></i>
          <i *ngIf="isOpen" class="fas fa-times text-2xl"></i>
        </button>
      </div>

       <!-- شعار الموقع -->
      <div class="flex-shrink-0">
        <a routerLink="/" 
           class="text-3xl font-extrabold text-green-600 
                  bg-gradient-to-r from-green-400 via-green-500 to-green-600 
                  bg-clip-text text-transparent hover:scale-105 transition-transform">
          نور الإسلام
        </a>
      </div>
    </div>
  </div>

  <!-- القائمة Mobile -->
  <div *ngIf="isOpen" class="md:hidden bg-green-50/90 backdrop-blur-md shadow-lg py-4 px-2 space-y-2">
    <a routerLink="/Sunah-books" routerLinkActive="bg-green-100 rounded-lg" 
       class="flex items-center gap-2 px-4 py-2 text-green-700 font-semibold hover:bg-green-200 transition">
      <i class="fas fa-book text-lg"></i>
      كتب الحديث
    </a>

    <a routerLink="/" routerLinkActive="bg-green-100 rounded-lg" 
       [routerLinkActiveOptions]="{exact:true}"
       class="flex items-center gap-2 px-4 py-2 text-green-700 font-semibold hover:bg-green-200 transition">
      <i class="fas fa-clock text-lg"></i>
      مواقيت الصلاة
    </a>

    <a routerLink="/chapters" routerLinkActive="bg-green-100 rounded-lg" 
       class="flex items-center gap-2 px-4 py-2 text-green-700 font-semibold hover:bg-green-200 transition">
      <i class="fas fa-book-open text-lg"></i>
      القرآن الكريم
    </a>
  </div>
</nav>
