<div *ngIf="!isQoranRoute && !isSurahRoute">
  <h1>﴾ إِنَّ الصَّلَاةَ كَانَتْ عَلَى الْمُؤْمِنِينَ كِتَابًا مَّوْقُوتًا ﴿ </h1>
  <h2>{{ prayerTimes.date.hijri.weekday.ar }} {{ prayerTimes.date.hijri.day }} {{ prayerTimes.date.hijri.month.ar }} {{ prayerTimes.date.hijri.year }}</h2>
  <p *ngIf="!loading && !prayerTimes">Détection de votre localisation...</p>
  <h3>{{ nextPrayer?.name }}</h3>
  <h3 *ngIf="countdown">{{ countdown }}</h3>
  <h3 *ngIf="!countdown">{{ adhanMessage }}</h3>
  <button *ngIf="adhanMessage" (click)="stopAlAdhan()" class="stop-button">
    إيقاف
</button>

  <h2 *ngIf="city"><i class="fas fa-map-marker-alt"></i> {{ city }} , {{ country }} </h2>

  <div *ngIf="prayerTimes" class="prayer-container">
    <ul class="prayer-list">
      <li><app-pray-cart prayName="Fajr" prayNameAr="الفجر" [prayTime]="prayerTimes.timings.Fajr"></app-pray-cart></li>
      <li><app-pray-cart prayName="Sunrise" prayNameAr="الشروق" [prayTime]="prayerTimes.timings.Sunrise"></app-pray-cart></li>
      <li><app-pray-cart prayName="Dhuhr" prayNameAr="الظهر" [prayTime]="prayerTimes.timings.Dhuhr"></app-pray-cart></li>
      <li><app-pray-cart prayName="Asr" prayNameAr="العصر" [prayTime]="prayerTimes.timings.Asr"></app-pray-cart></li>
      <li><app-pray-cart prayName="Maghrib" prayNameAr="المغرب" [prayTime]="prayerTimes.timings.Maghrib"></app-pray-cart></li>
      <li><app-pray-cart prayName="Isha" prayNameAr="العشاء" [prayTime]="prayerTimes.timings.Isha"></app-pray-cart></li>
    </ul>
  </div>
</div>

<!-- Lien vers la liste des sourates -->
<div *ngIf="!isQoranRoute && !isSurahRoute" class="navigation">
  <a routerLink="/chapters" class="btn-link">القرآن الكريم</a>
</div>
<audio #audioPlayer src="a1.mp3" >
</audio>
<router-outlet></router-outlet>
